<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./imges/download.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>WeatherAPP</title>
</head>
<body>
    <header class="header display-flex">
        <div class="header-title">
            SHUBH S
        </div>
        <div class="navbar ">
            <ul class="nav-parent display-flex">
                <li class="nav-link"><a href="/">HOME
                </a></li>
                <li class="nav-link"><a href="/about">ABOUT
                </a></li>
                <li class="nav-link"><a href="/weather" >WEATHER
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a></li>
            </ul>
        </div>

    </header>
    <main class="home-page ">
        <div class="home-left">
            <p class="para">
                Welcome To Weather App
            </p>
            <h1 class="main-title">
                Get The Leatest <span> Weather</span> Info Of Your City!
            </h1>
            <button  class="btn"> <a href="/weather">Click Here</a></button>

        </div>
        <!-- <div class="home-right">
            <div class="weather-icons">
                <img src="./imges/pexels-photo-2968789.jpeg" alt="weather-image">
               
            </div>

        </div> -->
    </main>
    <footer class="footer" >
        <div class="icons">
            <a href="#" class=""><i class="fa-brands fa-facebook"></i></a>
            <a href="" class=""><i class="fa-brands fa-linkedin"></i></a>
            <a href="" class=""><i class="fa-brands fa-google"></i> </a>
            <a href="" class=""> <i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/shubhamshinde01"> <i class="fa-brands fa-github"></i> </a>
            <a href=""> <i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="copyright">
            © 2023 Copyright:
            <a href="">userShubh.com</a>
        </div>

    </footer>



</body>
</html>